<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://tarantool.org/theme/favicon.ico">
    <title>Microbench web UI</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
         	body {
		  padding-top: 50px;
		}
		.starter-template {
		  padding: 40px 15px;
                  margin-bottom: 50px;
		}
                .error label{
                  color: red;
                }
                .load_btn{
                   margin-top: 24px;
                }
                .glyphicon-arrow-up{
                   color: green;
                }
                .glyphicon-arrow-down{
                   color: red;
                }
                #tabs{
                   padding-left: 20px;
                }
    </style>
</head>
  
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://tarantool.org"><img width="20px" height="20px" src="http://tarantool.org/theme/favicon.ico">Tarantool</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Bench</a>
            </li>
            <li>
              <a href="/bench">JSON</a>
            </li>
            <li>
              <a href="http://build.tarantool.org">Build farm</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="starter-template">
        <h1>
          Tarantool microbench summary
        </h1>
        <div class="form-group col-xs-6" style="width: 40%;padding-left: 5px">
          <label>Start Version:</label>
          <select class="form-control" id="firstVersionId">
            <option></option>
          </select>
        </div>
        <div class="form-group col-xs-6" style="width: 40%;">
          <label>End Version:</label>
          <select class="form-control" id="lastVersionId">
            <option></option>
          </select>
        </div>
        <div class="form-group col-xs-1">
          <button id="reloadId" type="submit" class="btn btn-success load_btn">Load</button>
        </div>
      </div>
      <div id='tabs' class="btn-group" role="group" aria-label="..."></div>
      <div id="container" class='chart-box' style="width:100%;"></div>
      <div class="container">
        <h2>The difference between first and last build</h2>            
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Benchmark</th>
              <th>Diff, %</th>
              <th>First version, RPS</th>
              <th>Last version, RPS</th>
            </tr>
          </thead>
          <tbody id="diff"></tbody>
        </table>
      </div>
    </div>
    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script>
      function get_query_string(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      }

      function get_tab_names(charts){
          var tabs = [];
          $.map(charts.series, function(item){
              var sp = item.name.split('#');

              var tab_name;
              if(sp.length > 1 ){
                  tab_name = sp[sp.length - 1];
              }
              else{
                  tab_name = 'main';
              }
              if(tabs.indexOf(tab_name) < 0){
                  tabs.push(tab_name);
              }
          });
          return tabs;
      }

      function get_req(firstVersion, lastVersion) {
        $.get("/bench",{firstVersion: firstVersion, lastVersion: lastVersion }, function(data) {
          var charts = JSON.parse(data);
          var tabs = get_tab_names(charts);

          var tab_series = {};
          $.map(tabs, function(item){
              tab_series[item] = [];
          });
          var series = [];
            $.map(charts.series, function(item, i){
              var total_chart = [];
              $.map(item.data, function(subdata, j){
                total_chart.push([charts.categories[j], subdata]);
              });
              var splitted = item.name.split('#');
              var tab_name;
              var name;
              if(splitted.length > 1){
                  tab_name = splitted[splitted.length - 1];
                  name = splitted.slice(0, splitted.length - 1).join('.');
              }
              else{
                  tab_name = 'main';
                  name = item.name;
              }
              var result = {name: name, data: total_chart};
              tab_series[tab_name].push(result);
              series.push(result);
          });
          $('#diff').html('');
          $('#tabs').html('');
          $('.chart-tab').show();
          $.map(series, function(item){
              var html = '<tr>';
              var first_val = Math.round(item.data[0][1]);
              var last_val = Math.round(item.data[item.data.length - 1][1]);
              var diff = Math.round((last_val/first_val - 1) * 100.0);
              html += '<td><span class="glyphicon ';
              if(diff > 0){
                  html += 'glyphicon-arrow-up';
              }
              else if(diff < 0){
                  html += 'glyphicon-arrow-down';
              }
              html += '"></span></td>';
              html += '<td>' + item.name +'</td>';
              html += '<td>' + diff.toString() + '</td>';
              html += '<td>' + first_val.toString() + '</td>';
              html += '<td>' + last_val.toString() + '</td><tr>';
              $('#diff').append(html);
          });
          $('#tabs').append('<button type="button" class="btn btn-default tab_all">all</button>')
          $.map(tabs, function(item){
            $('.chart-box').append('<div class="chart-tab" id="' + item + '"></div');
            $('#tabs').append('<button id="tab-'+ item +'"type="button" class="btn btn-default tab_switch">'+ item +'</button>')
            $('#' + item.replace('.', '\\\\.')).highcharts({
               chart: {
                 type: 'spline',
                 height: 600,
               },
               title: {
                 text: item
               },
               xAxis: {
                 labels: {
                   formatter: function(){
                     return charts.categories[this.value];
                   }
                 }
               },
               yAxis: {
                 title: {
                   text: 'rps'
                 }
               },
               series: tab_series[item]
            });
          });
        });
      }
      $(document).ready(function($) {
        var params = get_query_string();
        get_req();
        var firstVersion = document.getElementById("firstVersionId");
        var lastVersion = document.getElementById("lastVersionId");
        var cur_url = window.location.protocol + "//" + window.location.host + window.location.pathname;

        $(document).on("click", ".tab_switch", function(){
            $('.chart-tab').hide();
            $('#' + $(this).text().replace('.', '\\\\.')).show();
        });
        $(document).on("click", ".tab_all", function(){
            $('.chart-tab').show();
        });

        $(document).on('click', '#reloadId', function(){
          $('.form-group').removeClass('error')
	  if ( firstVersion.selectedIndex == 0 || lastVersion.selectedIndex == 0 ) {
            //alert('You should choose versions interval');
            $('.form-group').addClass('error');
            return;
          } 
          var first = firstVersion.options[firstVersion.selectedIndex].value;
          var last = lastVersion.options[lastVersion.selectedIndex].value;
          if(!first && !last && params['first'] && params['last']){
            first = params['first']; 
            last = params['last'];
          }
          get_req(first, last);
          var new_url = cur_url + '?first=' + first + '&last=' + last;
            
          if (history.pushState) {
            window.history.pushState({path:new_url},'',new_url);
          }
	});
	$.get("/versionList",function(data) {
          var dt = JSON.parse(data);
          for (var i = dt.length - 1; i >= 0; i--) {
              firstVersion.options[firstVersion.options.length] = new Option(dt[i], dt[i]);
              lastVersion.options[lastVersion.options.length] = new Option(dt[i], dt[i]);
          }
          
          if(dt.length > 4){
            // auto load last 5 builds data
            $($('#firstVersionId option')[5]).attr('selected', 'selected');
            $($('#lastVersionId option')[1]).attr('selected', 'selected');
            $('#reloadId').click();
          }
        });
      });
    </script>


  </body>

</html>

