<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <h2> Tarantool benchmarking </h2>
    <h4>Please, select tarantool versions interval</h4>
    
    <select>
      <option value="Sony">Sony</option>
      <option value="Toshiba">Toshiba</option>
      <option value="Acer">Acer</option>
      <option value="Asus">Asus</option>
    </select>
    <select>
      <option value='version1'>1.6.3-404-gh2</option>
    </select>
    <input type="submit" name=reload value='reload'>
    <div id="container" style="width:80%; height:600px;"></div>
    <script>
      jQuery(document).ready(function($) { 
          $.get("/bench",{},
            function(data) {
            var dt = JSON.parse(data);
            $('#container').highcharts({
              chart: {
                type: 'column',
            },
            title: {
                text:'Benchmark results' 
            },
            xAxis: {
                categories: dt.categories
            },
            yAxis: {
                title: {
                    text: 'rps'
                }
            },
            series: dt.series,
          });
          });
      });
    </script>
  </body>
</html>

