<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <div id="container" style="width:50%; height:800px;"></div>
    <script>
      jQuery(document).ready(function($) { 
          $.get("/bench",{},
            function(data) {
            var dt = JSON.parse(data);
            $('#container').highcharts({
              chart: {
                type: 'column',
            },
            title: {
                text: 'Tarantool benchmarking'
            },
            xAxis: {
                categories: dt.categories
            },
            yAxis: {
                title: {
                    text: 'rps'
                }
            },
            series: dt.series,
          });
          });
      });
    </script>
  </body>
</html>

